.main {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: calc(100vh - 88px - 40px - 10px);
  background-image: url(../../images/page-404.webp);
  background-size: cover;
}

.title {
  max-width: 700px;
  line-height: 60px;

  text-align: center;
}

.cover_image {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1920px;
  max-height: 1080px;

  z-index: 0;
}

.rights_link {
  display: none;

  font-size: 10px;
  line-height: 10px;
  text-decoration: none;
  cursor: pointer;
}
