.section {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: calc(600/1920 * 100vw);
}

.compositionArea {
  /* height: calc(656/1080 * 100vh); */
  height: calc(100vh - 356);
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: end;
  box-sizing: border-box;
}

.compositionChangebleList {
  composes: compositionArea;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: calc(464/1080 * 100vh);
  overflow-y: auto;
  scrollbar-color: #8585AD #2F2F37;
  scrollbar-width: thin;
}

.compositionChangebleList::-webkit-scrollbar {
  width: 3px;
  height: 6px;
  background-color: #2F2F37; /* or add it to the track */
}

/* Add a thumb */
.compositionChangebleList::-webkit-scrollbar-thumb {
  background: #8585AD;
}

/* .element {
  width: 100%;
  min-width: calc(568/1920 * 100vw);
  display: flex;
  column-gap: 8px;
  align-items: center;
} */

.info {
  display: flex;
  flex-direction: row;
  justify-content: end;
  column-gap: 40px;
}

.priceArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}

.currentIcon {
  /* width: 36px;
  height: 36px; */
  object-fit: cover;
  object-position: center center;
}
