.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderId {
  margin-top: 52px;
}

.orderIdText {

}

.image {
  height: 120px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}
