.main {
  margin-top: 120px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  column-gap: 60px;
}

.order_feed {
  width: calc(768 / 1920 * 100vw);
  max-width: 768px;

  height: calc(852 / 1080 * 100vh);;
  max-height: 852px;

  display: flex;
  flex-direction: column;
  row-gap: 16px;

  overflow: scroll;

  padding: 0 20px;
}
