.section {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* max-height: calc(912/1280 * 100%); */
  /* max-height: 912px;
  overflow-y: scroll; */
}

.menu {
  display: flex;
  flex-direction: row;
}

.ingredients {
  /* max-height: calc(716/912 * 1080px); */
  /* max-height: calc(716/1080 * 100vh); */
  max-height: calc(100vh - 344);
  overflow-y: scroll;
  scrollbar-color: #8585AD #2F2F37;
  scrollbar-width: thin;
}

.ingredients::-webkit-scrollbar {
  width: 3px;
  height: 6px;
  background-color: #2F2F37 /* or add it to the track */
}

.ingredients::-webkit-scrollbar-thumb {
  background: #8585AD;
}
