.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* max-height: calc(912/1280 * 100%); */
  /* max-height: 912px;
  overflow-y: scroll; */
}

.menu {
  display: flex;
  flex-direction: row;
}

.ingredients {
  /* max-height: calc(716/912 * 1080px); */
  max-height: calc(716/1080 * 100vh);
  overflow-y: scroll;
  scrollbar-color: #8585AD #2F2F37;
  scrollbar-width: thin;
}

.ingredients::-webkit-scrollbar {
  background-color: #2F2F37;
  width: 8px;
}

.ingredients::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}
