.header {
  position: relative;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: calc((100% - 1280px)/2);
  margin-right: calc((100% - 1280px)/2);
}

.menuLeftColumn {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.logo {
  position: absolute;
  top: 16px;
  left: calc(50% - 145px);
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
